.App {
  display: flex;
  flex-direction: column;
  /* background-image: url('/public/background.jpg'); */
  /* background-position: center center; */
}

.swiper-wrap {
  height: 240px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}

.header {
  height: 45px;
}

.app-mid {
  height: calc(100vh - 49px);
  overflow-y: auto;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

.footer {
  height: 49px;
}